body {
  cursor: pointer;
}
.hidden {
  visibility: hidden;
}
.visible {
  visibility: visible;
}
.dashboard {
  background-image: url("images/bg-on.jpg");
}
.truck-speed[data-type="meter"] {
  visibility: visible;
  position: absolute;
  left: 350px;
  top: 455px;
  width: 26px;
  height: 265px;
  background-image: url("images/arrow.png");
  -webkit-transform: rotate(-114deg);
  -moz-transform: rotate(-114deg);
  -ms-transform: rotate(-114deg);
  -o-transform: rotate(-114deg);
  transform: rotate(-114deg);
  -webkit-transform-origin: 50% 220px;
  -moz-transform-origin: 50% 220px;
  -ms-transform-origin: 50% 220px;
  -o-transform-origin: 50% 220px;
  transform-origin: 50% 220px;
}
.truck-engineRpm {
  position: absolute;
  left: 1650px;
  top: 455px;
  width: 26px;
  height: 265px;
  background-image: url("images/arrow.png");
  -webkit-transform: rotate(-97deg);
  -moz-transform: rotate(-97deg);
  -ms-transform: rotate(-97deg);
  -o-transform: rotate(-97deg);
  transform: rotate(-97deg);
  -webkit-transform-origin: 50% 220px;
  -moz-transform-origin: 50% 220px;
  -ms-transform-origin: 50% 220px;
  -o-transform-origin: 50% 220px;
  transform-origin: 50% 220px;
}
.truck-fuel {
  position: absolute;
  left: 470px;
  top: 245px;
  width: 13px;
  height: 145px;
  background-image: url("images/arrow-s.png");
  -webkit-transform: rotate(-96deg);
  -moz-transform: rotate(-96deg);
  -ms-transform: rotate(-96deg);
  -o-transform: rotate(-96deg);
  transform: rotate(-96deg);
  -webkit-transform-origin: 50% 21px;
  -moz-transform-origin: 50% 21px;
  -ms-transform-origin: 50% 21px;
  -o-transform-origin: 50% 21px;
  transform-origin: 50% 21px;
}
.truck-waterTemperature {
  position: absolute;
  left: 1530px;
  top: 140px;
  width: 13px;
  height: 145px;
  background-image: url("images/arrow-s2.png");
  -webkit-transform: rotate(-0deg);
  -moz-transform: rotate(-0deg);
  -ms-transform: rotate(-0deg);
  -o-transform: rotate(-0deg);
  transform: rotate(-0deg);
  -webkit-transform-origin: 50% 124px;
  -moz-transform-origin: 50% 124px;
  -ms-transform-origin: 50% 124px;
  -o-transform-origin: 50% 124px;
  transform-origin: 50% 124px;
}
.truck-speedRounded {
  color: #D8DFE5;
  font-family: Courier New, Courier, monospace;
  font-weight: bold;
  font-size: 70px;
  position: absolute;
  left: 280px;
  top: 810px;
  width: 190px;
  height: 66px;
  text-align: center;
}
.truck-gear {
  color: #D8DFE5;
  font-family: Courier New, Courier, monospace;
  font-weight: bold;
  font-size: 42px;
  position: absolute;
  left: 1600px;
  top: 760px;
  width: 134px;
  height: 100px;
  text-align: center;
}
.truck-gear[data-value="N"] {
  color: #D8DFE5;
}
.truck-gear[data-value="R"] {
  color: #D8DFE5;
}
.truck-odometer {
  color: #D8DFE5;
  font-family: Courier New, Courier, monospace;
  font-weight: bold;
  font-size: 40px;
  position: absolute;
  left: 1080px;
  top: 805px;
  width: 368px;
  height: 70px;
  text-align: left;
}
.truck-blinkerLeftOn {
  background-image: url("images/blinker-left-off.png");
  position: absolute;
  left: 215px;
  top: 245px;
  width: 131px;
  height: 59px;
}
.truck-blinkerLeftOn.yes {
  background-image: url("images/blinker-left-on.png");
}
.truck-blinkerRightOn {
  background-image: url("images/blinker-right-off.png");
  position: absolute;
  left: 1680px;
  top: 245px;
  width: 131px;
  height: 59px;
}
.truck-blinkerRightOn.yes {
  background-image: url("images/blinker-right-on.png");
}
.truck-lightsBeamHighOn {
  background-image: url("images/highbeam-off.png");
  position: absolute;
  left: 805px;
  top: 700px;
  width: 40px;
  height: 23px;
}
.truck-lightsBeamHighOn.yes {
  background-image: url("images/highbeam-on.png");
}
.truck-lightsBeamLowOn {
  background-image: url("images/lowbeam-off.png");
  position: absolute;
  left: 805px;
  top: 660px;
  width: 45px;
  height: 35px;
}
.truck-lightsBeamLowOn.yes {
  background-image: url("images/lowbeam-on.png");
}
.truck-lightsParkingOn {
  background-image: url("images/parklights-off.png");
  position: absolute;
  left: 805px;
  top: 620px;
  width: 45px;
  height: 35px;
}
.truck-lightsParkingOn.yes {
  background-image: url("images/parklights-on.png");
}
.game-time {
  color: #D8DFE5;
  font-family: Courier New, Courier, monospace;
  font-weight: bold;
  font-size: 40px;
  position: absolute;
  left: 800px;
  top: 770px;
  width: 134px;
  height: 100px;
  text-align: center;
}
.truck-parkBrakeOn {
  background-image: url("images/parkingbrake-off.png");
  position: absolute;
  left: 1000px;
  top: 580px;
  width: 45px;
  height: 35px;
}
.truck-parkBrakeOn.yes {
  background-image: url("images/parkingbrake.png");
  }
.truck-airPressureWarningOn {
  background-image: url("images/warning-off.png");
  position: absolute;
  left: 1060px;
  top: 580px;
  width: 45px;
  height: 35px;
}
.truck-airPressureWarningOn.yes {
  background-image: url("images/warning.png");
}

.truck-fuelWarningOn {
/* background-image: url("images/fuel-warning.png"); */
  position: absolute;
  left: 395px;
  top: 240px;
  width: 45px;
  height: 50px;
}
.truck-fuelWarningOn.yes {
   background-image: url("images/fuel-warning.png");
}



.trailer-mass {
  color: #D8DFE5;
  font-family: Courier New, Courier, monospace;
  font-weight: bold;
  font-size: 30px;
  position: absolute;
  left: 1015px;
  top: 630px;
  width: 134px;
  height: 100px;
  text-align: right;
}


table._job {
  border-collapse: collapse;
  /* border: 1px solid #fff; */
  font-family: Courier New, Courier, monospace;
  font-size: 30px;
  position: absolute;
  left: 745px;
  top: 300px;
  width: 550px;
  height: 80px;
}
table._job th {
  color: #aaa;
  width: 75px;
  text-align: right;
}
table._job td {
  padding-left: 10px;
  text-align: left;
}
._jobSource,
._jobDestionation {
  color: #efbd3a;
}
.statusMessage {
  color: #efbd3a;
}
.job-remainingTime {
  color: #54d9a8;
}
._jobIncome {
  color: #5dd954;
}

.truck-cruiseControlOn {
  background-image: url("images/cruise-off.png");
  position: absolute;
  left: 270px;
  top: 820px;
  width: 48px;
  height:42px;
}
.truck-cruiseControlOn.yes {
  background-image: url("images/cruise-on.png");
}

.truck-cruiseControlSpeedRounded {
  color: #fff;
  font-family: Courier New, Courier, monospace;
  font-weight: bold;
  font-size: 32px;
  position: absolute;
  left: 210px;
  top: 830px;
  width: 62px;
  height: 62px;
  text-align: right;
}

.truck-motorBrakeOn {
  color: #D3D395;
  font-family: Courier New, Courier, monospace;
  font-weight: bold;
  font-size: 30px;
  position: absolute;
  left: 940px;
  top: 772px;
  width: 190px;
  height: 66px;
  text-align: right;
}
.truck-motorBrakeOn.yes {
  background-image: url("images/gas-brake-on.png");
  position: absolute;
  left: 1164px;
  top: 720px;
  width: 46px;
  height: 36px;
}

.truck-fuelAverageConsumption {
  color: #fff;
  font-family: Arial, Tahoma;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  left: 1000px;
  top: 128px;
  width: 180px;
  height: 80px;
  text-align: right;
  overflow: hidden;
}

.truck-destination {
  color: #fff;
  font-family: Arial, Tahoma;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  left: 1000px;
  top: 175px;
  width: 180px;
  height: 80px;
  text-align: right;
  overflow: hidden;
}
.truck-retarderBrake {
  color: #fff;
  font-family: Courier New, Courier, monospace;
  font-weight: bold;
  font-size: 30px;
  position: absolute;
  left: 940px;
  top: 730px;
  width: 190px;
  height: 66px;
  text-align: right;
}

.truck-retarderIcon{background-image: none; color: transparent;
}

.truck-retarderIcon:not([data-value="0"]){
 background-image: url("images/retarder.png"); position: absolute;
 left: 1060px;
  top: 720px;
  width: 46px;
   height: 36px;
}

.trailer-name {
  color: #D3D395;
  font-family: Courier New, Courier, monospace;
  font-size: 28px;
  position: absolute;
  left: 745px;
  top: 275px;
  width: 420px;
  height: 80px;
  text-align: left;
  overflow: hidden;
}

.game-nextRestStopTime {
  color: #fff;
  font-family: Arial, Tahoma;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  left: 1100px;
  top: 230px;
  width: 180px;
  height: 80px;
  text-align: right;
  overflow: hidden;
}
.navigation-estimatedTime{
  color: #fff;
  font-family: Arial, Tahoma;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  left: 1100px;
  top: 530px;
  width: 180px;
  height: 80px;
  text-align: right;
  overflow: hidden;
}

.navigation-estimatedDistance {
  color: #fff;
  font-family: Arial, Tahoma;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  left: 1100px;
  top: 495px;
  width: 180px;
  height: 80px;
  text-align: right;
  overflow: hidden;
}